# Node
node_modules/
.npm/
.next/
.out/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
ENV/
env/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
